/* src/styles/MainLayout.css */

.main-layout-container {
    display: flex;
    height: 100vh;
    background-color: var(--color-bg-light); /* bg-gray-50 */
}

.content-area {
    flex: 1; /* flex-1 */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-content {
    flex: 1; /* flex-1 */
    overflow-x: hidden;
    overflow-y: auto;
    padding: 24px; /* p-6 */
}